[Postgresql]
postgresql_package_name = absent
postgresql_package_version = absent
postgresql_state = absent
m2m_installed = absent
portal_hes_installed = absent
portal_metering_installed = absent
scape_fwk_installed = absent
scape_jms_installed = absent
vsdc_installed = absent
oem_installed = absent